<div style="border: 1px solid black; border-radius: 10px;" #cardDiv>
  <h5><u>{{ getCountryFullName(destination.destinationAirportCountry) }}</u></h5>

  <p>{{ removeAirportWordAndShorten(destination.destinationAirportName) }} - {{ destination.destinationAirportCode }}</p>

  <div class="flag-image">
    <img [src]="getCountryImagePath(destination.destinationAirportCountry)" alt="Destination flag">
  </div>

  <div style="display: flex; align-items: center; margin-left: 20%; margin-top: 1em;">
    <p>Distance: {{ roundToNearestInteger(destination.distance) }} km</p>
    <a href="http://maps.google.com/?q={{destination.destinationAirportCode}}+Airport" target="_blank" style="margin-top: -10%; margin-left: 1em;">
      <span style="display: inline-block; vertical-align: middle; margin-right: 5px;">
        <img src="gmaps.png" alt="Google Maps Icon" style="width: 20px; height: 20px;">
      </span>
    </a>
  </div>

  <hr style="margin-bottom: 0;">

  <div (click)="showWeatherModal()" style="background-color: #f0f0f0; border-radius: 0 0 10px 10px; padding: 0.5em; padding-top: 1em;">
    <p>Temperature at location: {{ roundToNearestInteger(destination.locationTemperature) }} °C</p>
    <p>Weather at location: {{ destination.target_weather }}</p>
  </div>
</div>
