.btn.active {
  background-color: #ffc107; /* Bootstrap's warning color for active state */
  color: #212529; /* Text color for active state */
  border-color: #ffc107; /* Border color for active state */
  z-index: 1; /* Ensure active button is above default buttons */
}

.btn.active i {
  color: #212529; /* Icon color for active state */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure loading overlay is above everything else */
}

.loading-overlay .spinner-border {
  width: 3rem; /* Adjust size of spinner */
  height: 3rem; /* Adjust size of spinner */
  z-index: 1000; /* Ensure spinner is above the overlay and other content */
}

.white-replace {
  filter: brightness(0) invert(1) grayscale(1) brightness(1.5);
}
